@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'poppins';
}

header{
    color: #fff;
   width: 100vw;
   height: 100vh;
   background-image: url(/images/wallpaper.jpg);
   background-position: bottom;
   background-size: cover;
  display: flex;
align-items: center;
justify-content: center;

}

header h1{
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
}
header p{
    margin: 10px;
    font-size: smaller;
    text-align: center;
}
nav{
    display: flex;
    margin-top: 200px;
    
}
nav li{
list-style: none;

}

nav li a{
text-decoration: none;
margin-left: 10px;
color: #fff;

}

nav li a:hover{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}

  
/* about us */
.aboutus{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.aboutus .container ion-icon{
  
color: green;
float: right;
font-size: 40px;
margin-right: 20px;

}
.aboutus .container{
  height: 80vh;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
text-align: center ;
justify-items: center;
margin: auto;
}

.aboutus h2{
margin: 50px;
}

.aboutus .boxes{
display: flex;

}
.box{
  
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
flex: 1;
 height: 300px;
 background-color: transparent;
 margin: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
  } 
  .box p{
  padding: auto;
  }

/* services */

.services .container{ 
    box-shadow: rgba(0, 0, 0, 0.055) 0px 3px 8px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    
}

.services h2{
    margin-bottom: 50px;
    
}
.services button{
    padding: 10px;
    width: 130px;
    border: 1px solid orangered;
    background-color: transparent;
    color: #fff;
    margin: 20px;
    border-radius: 15px;
}
.services .button1{
    background-color: orangered;
    color: #fff;
}
.services li{
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.services ion-icon{
    font-size: 50px;
    color: orangered;
}

.contactus{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contactus a{
   color: #000;
   font-size: 30px;
  margin-top: 50px;

    
}

footer{
    background-color: orangered;
    color: #fff;
    text-align: center;

}